<a href="https://colab.research.google.com/github/rupeshnerkar11/Machine-Learning-Projects/blob/main/M3_Car_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.metrics import  mean_squared_error,accuracy_score,classification_report,confusion_matrix,r2_score

In [4]:
df= pd.read_csv('/content/audi.csv')
df.head()

  model  year transmission  mileage fuelType  tax   mpg  engineSize  price
0    A1  2017       Manual    15735   Petrol  150  55.4         1.4  12500
1    A6  2016    Automatic    36203   Diesel   20  64.2         2.0  16500
2    A1  2016       Manual    29946   Petrol   30  55.4         1.4  11000
3    A4  2017    Automatic    25952   Diesel  145  67.3         2.0  16800
4    A3  2019       Manual     1998   Petrol  145  49.6         1.0  17300

In [6]:
df.isnull().sum()

model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
price           0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10668 entries, 0 to 10667
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         10668 non-null  object
 1   year          10668 non-null  int64
 2   transmission  10668 non-null  object
 3   mileage       10668 non-null  int64
 4   fuelType      10668 non-null  object
 5   tax           10668 non-null  int64
 6   mpg           10668 non-null  float64
 7   engineSize    10668 non-null  float64
 8   price         10668 non-null  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 750.2+ KB

In [8]:
df1=df.drop(columns='year',axis=1)

In [9]:
df1 = pd.get_dummies(df1)
df1.head(2)

   mileage  tax   mpg  ...  fuelType_Diesel  fuelType_Hybrid  fuelType_Petrol
0    15735  150  55.4  ...                0                0                1
1    36203   20  64.2  ...                1                0                0

[2 rows x 37 columns]

In [10]:
features= df1.drop(columns=['price'],axis=1).values
label= df1['price'].values

In [11]:
scalar = StandardScaler()

In [12]:
features= scalar.fit_transform(features)

In [13]:
features.reshape(1,-1)

array([[-0.3868356 ,  0.35714729,  0.35755001, ..., -1.04664348,
        -0.05129892,  1.05216498]])

In [14]:
label

array([12500, 16500, 11000, ..., 17199, 19499, 15999])

In [15]:
X_train,X_test,y_train,y_test = train_test_split( features,
                                                 label,
                                                 test_size=0.2,
                                                 random_state=22)

# Linear Regression

In [16]:


model = LinearRegression()
model.fit(X_train, y_train)

trainscore= model.score(X_train, y_train)
testscore = model.score(X_test, y_test)

print("Training Score:{}, \n\nTesting Score:{}  ".format(trainscore,testscore))

Training Score:0.8496113992119119,

Testing Score:0.8710888570404773

### Accuracy Score : Accuracy Score is 87.10888570404774 %

In [17]:
print('Accuracy Score is {} % '.format(model.score(X_test, y_test)*100))

Accuracy Score is 87.10888570404774 %

# DecisionTreeRegressorModel

In [25]:
 DecisionTreeRegressorModel = DecisionTreeRegressor(max_depth=6,random_state=12)

Using KFOLDcross Validation to get the proper spliting of data

In [19]:
from sklearn.model_selection import  cross_val_score,KFold
kfold = KFold(n_splits=50, shuffle=True, random_state=11)

In [20]:
i=0
for train,test in kfold.split(features):
  i=i+1
  X_train,X_test = features[train], features[test]
  y_train,y_test = label[train], label[test]
  DecisionTreeRegressorModel.fit(X_train,y_train)
  print('Testing Score: {} Training Score: {} for Sample Split : {} '.format(model.score(X_test,y_test),model.score(X_train,y_train),i))

Testing Score: 0.7808890184663447 Training Score: 0.855387451032724 for Sample Split : 1
Testing Score: 0.8186551732869548 Training Score: 0.8547970376624964 for Sample Split : 2
Testing Score: 0.8514983907683762 Training Score: 0.8543099283972078 for Sample Split : 3
Testing Score: 0.8165710017493242 Training Score: 0.8549659677115675 for Sample Split : 4
Testing Score: 0.8237974069671149 Training Score: 0.854667219353086 for Sample Split : 5
Testing Score: 0.7461951452610862 Training Score: 0.8564225961574196 for Sample Split : 6
Testing Score: 0.8040319326427381 Training Score: 0.8552610593322191 for Sample Split : 7
Testing Score: 0.8722813201581159 Training Score: 0.8540108974831603 for Sample Split : 8
Testing Score: 0.8396137352201796 Training Score: 0.8544669151429645 for Sample Split : 9
Testing Score: 0.7771438091235978 Training Score: 0.85603165440985 for Sample Split : 10
Testing Score: 0.7480782239309012 Training Score: 0.8559423919238813 for Sample Split : 11
Testing Score: 0.8628921602625733 Training Score: 0.8541317594150674 for Sample Split : 12
Testing Score: 0.8775434219199367 Training Score: 0.8536603151606093 for Sample Split : 13
Testing Score: 0.8815268344083916 Training Score: 0.8536537815135761 for Sample Split : 14
Testing Score: 0.8871647024358797 Training Score: 0.8535155538008448 for Sample Split : 15
Testing Score: 0.7935686120537673 Training Score: 0.8551792406217267 for Sample Split : 16
Testing Score: 0.840072219927992 Training Score: 0.8545339614772796 for Sample Split : 17
Testing Score: 0.8890826453225631 Training Score: 0.8536101228097659 for Sample Split : 18
Testing Score: 0.8661375973809154 Training Score: 0.8540218272424716 for Sample Split : 19
Testing Score: 0.8217321026985244 Training Score: 0.8548771698214241 for Sample Split : 20
Testing Score: 0.9002928525328341 Training Score: 0.8527468707787632 for Sample Split : 21
Testing Score: 0.8722497452102353 Training Score: 0.85370497565974 for Sample Split : 22
Testing Score: 0.8521538491840711 Training Score: 0.8542720786293971 for Sample Split : 23
Testing Score: 0.8568637990021778 Training Score: 0.854196832656548 for Sample Split : 24
Testing Score: 0.8766810094931159 Training Score: 0.8537142998848959 for Sample Split : 25
Testing Score: 0.881534594435911 Training Score: 0.8535864829976796 for Sample Split : 26
Testing Score: 0.8548721445741598 Training Score: 0.8542445789429249 for Sample Split : 27
Testing Score: 0.8699471423566831 Training Score: 0.8539009254745066 for Sample Split : 28
Testing Score: 0.8301047528699027 Training Score: 0.8546363026977947 for Sample Split : 29
Testing Score: 0.7818244717647485 Training Score: 0.8554727994416854 for Sample Split : 30
Testing Score: 0.8819386775389514 Training Score: 0.8533111741947211 for Sample Split : 31
Testing Score: 0.8673151840066139 Training Score: 0.8539710549591036 for Sample Split : 32
Testing Score: 0.8803629684811346 Training Score: 0.8536365644319689 for Sample Split : 33
Testing Score: 0.8520175722621572 Training Score: 0.8542933977778596 for Sample Split : 34
Testing Score: 0.8820971556197696 Training Score: 0.8536330043234167 for Sample Split : 35
Testing Score: 0.8461795092755264 Training Score: 0.8543697690974307 for Sample Split : 36
Testing Score: 0.8520679478223193 Training Score: 0.8542660739324842 for Sample Split : 37
Testing Score: 0.8880604969085785 Training Score: 0.8534203524087902 for Sample Split : 38
Testing Score: 0.9122605318416014 Training Score: 0.8525167838457532 for Sample Split : 39
Testing Score: 0.8428925809578998 Training Score: 0.8544473490161317 for Sample Split : 40
Testing Score: 0.8511878586498287 Training Score: 0.8543228995600374 for Sample Split : 41
Testing Score: 0.8971191797889843 Training Score: 0.8529753305320749 for Sample Split : 42
Testing Score: 0.8082883415238388 Training Score: 0.8550218369086289 for Sample Split : 43
Testing Score: 0.8678811165693555 Training Score: 0.8540396084984186 for Sample Split : 44
Testing Score: 0.8378216192107827 Training Score: 0.8545370737170618 for Sample Split : 45
Testing Score: 0.8472562369845461 Training Score: 0.8543821395006171 for Sample Split : 46
Testing Score: 0.8697843010640385 Training Score: 0.8538625334712557 for Sample Split : 47
Testing Score: 0.8608408158566347 Training Score: 0.8541356559714314 for Sample Split : 48
Testing Score: 0.8602206537204014 Training Score: 0.8541258865030544 for Sample Split : 49
Testing Score: 0.8872332873518789 Training Score: 0.8536260052682858 for Sample Split : 50

In [21]:


i = 0 
for train,test in kfold.split(features):
    i = i + 1
    if i == 1:
        X_train_final,X_test_final,y_train_final,y_test_final = features[train],features[test],label[train],label[test]

In [26]:
cvscore = cross_val_score(DecisionTreeRegressorModel,features,label,cv= kfold)
cvscore.mean()

0.8576827966593551

This is bench mark accracy score we must get more than this score

In [50]:
for i in range(0,160):
  X_train_final,X_test_final,y_train_final,y_test_final = train_test_split(features,
                                                label,
                                                 test_size=.2,
                                                 random_state=i)

  DecisionTreeRegressorModel = DecisionTreeRegressor( max_depth=6,random_state=i)
  
  DecisionTreeRegressorModel.fit(X_train_final, y_train_final)

  train_score=DecisionTreeRegressorModel.score(X_train_final, y_train_final)
  test_score =DecisionTreeRegressorModel.score(X_test_final, y_test_final)

  if  (train_score < test_score) & (test_score>.89):
    print("Testing {}  Training {}  Random State {}".format(test_score,train_score,i))

Testing 0.8928137585928243  Training 0.8868949672299347  Random State 36
Testing 0.8903586212424633  Training 0.8899594065480029  Random State 111
Testing 0.8936550912778425  Training 0.8891959923251486  Random State 125
Testing 0.898297500304841  Training 0.8900811804869266  Random State 143
Testing 0.8930714286011923  Training 0.8839261220525277  Random State 157

Finally use random state as 143 to get highest accuracy score

In [52]:
X_train_final,X_test_final,y_train_final,y_test_final = train_test_split(features,
                                                label,
                                                 test_size=.2,
                                                 random_state=143)

DecisionTreeRegressorModel = DecisionTreeRegressor( max_depth=6,random_state=143)
DecisionTreeRegressorModel.fit(X_train_final, y_train_final)

print('DecisionTreeRegressor Train Score is : ' , DecisionTreeRegressorModel.score(X_train_final, y_train_final))
print('DecisionTreeRegressor Test Score is : ' , DecisionTreeRegressorModel.score(X_test_final, y_test_final))

DecisionTreeRegressor Train Score is :  0.8900811804869266
DecisionTreeRegressor Test Score is :  0.898297500304841

### Now our model is generalized

In [53]:
print('Accuracy Score is {} % '.format(DecisionTreeRegressorModel.score(X_test_final, y_test_final)*100))

Accuracy Score is 89.8297500304841 %

## Accuracy Score is 89.8297500304841 %

#Random Forest Regressor

In [54]:
rf = RandomForestRegressor()
kfold = KFold(n_splits=50, shuffle=True, random_state=11)
i=0
for train,test in kfold.split(features):
  i=i+1
  X_train,X_test = features[train], features[test]
  y_train,y_test = label[train], label[test]
  DecisionTreeRegressorModel.fit(X_train,y_train)
  print('Testing Score: {} Training Score: {} for Sample Split : {} '.format(model.score(X_test,y_test),model.score(X_train,y_train),i))

Testing Score: 0.7808890184663447 Training Score: 0.855387451032724 for Sample Split : 1
Testing Score: 0.8186551732869548 Training Score: 0.8547970376624964 for Sample Split : 2
Testing Score: 0.8514983907683762 Training Score: 0.8543099283972078 for Sample Split : 3
Testing Score: 0.8165710017493242 Training Score: 0.8549659677115675 for Sample Split : 4
Testing Score: 0.8237974069671149 Training Score: 0.854667219353086 for Sample Split : 5
Testing Score: 0.7461951452610862 Training Score: 0.8564225961574196 for Sample Split : 6
Testing Score: 0.8040319326427381 Training Score: 0.8552610593322191 for Sample Split : 7
Testing Score: 0.8722813201581159 Training Score: 0.8540108974831603 for Sample Split : 8
Testing Score: 0.8396137352201796 Training Score: 0.8544669151429645 for Sample Split : 9
Testing Score: 0.7771438091235978 Training Score: 0.85603165440985 for Sample Split : 10
Testing Score: 0.7480782239309012 Training Score: 0.8559423919238813 for Sample Split : 11
Testing Score: 0.8628921602625733 Training Score: 0.8541317594150674 for Sample Split : 12
Testing Score: 0.8775434219199367 Training Score: 0.8536603151606093 for Sample Split : 13
Testing Score: 0.8815268344083916 Training Score: 0.8536537815135761 for Sample Split : 14
Testing Score: 0.8871647024358797 Training Score: 0.8535155538008448 for Sample Split : 15
Testing Score: 0.7935686120537673 Training Score: 0.8551792406217267 for Sample Split : 16
Testing Score: 0.840072219927992 Training Score: 0.8545339614772796 for Sample Split : 17
Testing Score: 0.8890826453225631 Training Score: 0.8536101228097659 for Sample Split : 18
Testing Score: 0.8661375973809154 Training Score: 0.8540218272424716 for Sample Split : 19
Testing Score: 0.8217321026985244 Training Score: 0.8548771698214241 for Sample Split : 20
Testing Score: 0.9002928525328341 Training Score: 0.8527468707787632 for Sample Split : 21
Testing Score: 0.8722497452102353 Training Score: 0.85370497565974 for Sample Split : 22
Testing Score: 0.8521538491840711 Training Score: 0.8542720786293971 for Sample Split : 23
Testing Score: 0.8568637990021778 Training Score: 0.854196832656548 for Sample Split : 24
Testing Score: 0.8766810094931159 Training Score: 0.8537142998848959 for Sample Split : 25
Testing Score: 0.881534594435911 Training Score: 0.8535864829976796 for Sample Split : 26
Testing Score: 0.8548721445741598 Training Score: 0.8542445789429249 for Sample Split : 27
Testing Score: 0.8699471423566831 Training Score: 0.8539009254745066 for Sample Split : 28
Testing Score: 0.8301047528699027 Training Score: 0.8546363026977947 for Sample Split : 29
Testing Score: 0.7818244717647485 Training Score: 0.8554727994416854 for Sample Split : 30
Testing Score: 0.8819386775389514 Training Score: 0.8533111741947211 for Sample Split : 31
Testing Score: 0.8673151840066139 Training Score: 0.8539710549591036 for Sample Split : 32
Testing Score: 0.8803629684811346 Training Score: 0.8536365644319689 for Sample Split : 33
Testing Score: 0.8520175722621572 Training Score: 0.8542933977778596 for Sample Split : 34
Testing Score: 0.8820971556197696 Training Score: 0.8536330043234167 for Sample Split : 35
Testing Score: 0.8461795092755264 Training Score: 0.8543697690974307 for Sample Split : 36
Testing Score: 0.8520679478223193 Training Score: 0.8542660739324842 for Sample Split : 37
Testing Score: 0.8880604969085785 Training Score: 0.8534203524087902 for Sample Split : 38
Testing Score: 0.9122605318416014 Training Score: 0.8525167838457532 for Sample Split : 39
Testing Score: 0.8428925809578998 Training Score: 0.8544473490161317 for Sample Split : 40
Testing Score: 0.8511878586498287 Training Score: 0.8543228995600374 for Sample Split : 41
Testing Score: 0.8971191797889843 Training Score: 0.8529753305320749 for Sample Split : 42
Testing Score: 0.8082883415238388 Training Score: 0.8550218369086289 for Sample Split : 43
Testing Score: 0.8678811165693555 Training Score: 0.8540396084984186 for Sample Split : 44
Testing Score: 0.8378216192107827 Training Score: 0.8545370737170618 for Sample Split : 45
Testing Score: 0.8472562369845461 Training Score: 0.8543821395006171 for Sample Split : 46
Testing Score: 0.8697843010640385 Training Score: 0.8538625334712557 for Sample Split : 47
Testing Score: 0.8608408158566347 Training Score: 0.8541356559714314 for Sample Split : 48
Testing Score: 0.8602206537204014 Training Score: 0.8541258865030544 for Sample Split : 49
Testing Score: 0.8872332873518789 Training Score: 0.8536260052682858 for Sample Split : 50

In [55]:
i = 0 
for train,test in kfold.split(features):
    i = i + 1
    if i == 1:
        X_train_final,X_test_final,y_train_final,y_test_final = features[train],features[test],label[train],label[test]

## Using for loop trying to get generalised model by working on Random state and Max Depth

In [102]:
for i in range(0,111):
  X_train_final,X_test_final,y_train_final,y_test_final = train_test_split(features,
                                                label,
                                                 test_size=.2,
                                                 random_state=i)

  rf = RandomForestRegressor(n_estimators=80,
                            criterion='mse',
                            max_depth=9, 
                            min_samples_split=10,
                            min_samples_leaf=1,
                            min_weight_fraction_leaf=0.0,
                            max_features='sqrt',
                            max_leaf_nodes=None,
                            min_impurity_decrease=0.0, 
                            min_impurity_split=None,
                            bootstrap=True, 
                            
                            oob_score=False, 
                            n_jobs=None, 
                            random_state=i, 
                            verbose=0, 
                            warm_start=False,
                            ccp_alpha=0.0, 
                            max_samples=None)
  rf.fit(X_train_final, y_train_final)

  train_score=rf.score(X_train_final, y_train_final)
  test_score =rf.score(X_test_final, y_test_final)

  if  (train_score < test_score):
    print("Testing {}  Training {}  Random State {}".format(test_score,train_score,i))

Testing 0.9220521174043986  Training 0.9207693295995028  Random State 36
Testing 0.9238951129349726  Training 0.9207303050985006  Random State 90

# Random forest regressor MODEL

In [105]:
X_train_final,X_test_final,y_train_final,y_test_final = train_test_split(features,
                                                label,
                                                 test_size=.2,
                                                 random_state=90)
rf = RandomForestRegressor(n_estimators=80,
                            criterion='mse',
                            max_depth=9, 
                            min_samples_split=10,
                            min_samples_leaf=1,
                            min_weight_fraction_leaf=0.0,
                            max_features='sqrt',
                            max_leaf_nodes=None,
                            min_impurity_decrease=0.0, 
                            min_impurity_split=None,
                            bootstrap=True, 
                            
                            oob_score=False, 
                            n_jobs=None, 
                            random_state=90, 
                            verbose=0, 
                            warm_start=False,
                            ccp_alpha=0.0, 
                            max_samples=None)
rf.fit(X_train_final, y_train_final)
train_score=rf.score(X_train_final, y_train_final)
test_score =rf.score(X_test_final, y_test_final)
print('Accuracy Score is {} % '.format(rf.score(X_test_final, y_test_final)*100))

Accuracy Score is 92.38951129349726 %

## Accuracy Score is 92.38951129349726 %